i {
    padding-left: 500px;
    margin-top: 200px;
}

.row {
    margin-top: 150px;
}

body {
    padding-top: 56px;
    background-color: darkgreen;
    background-image: url("IdeaProjects/AdLister-Kole-Morgan-testing-repo/src/main/webapp/img/farm.jpeg");
    margin-bottom: 300px;
}

nav {
    opacity: 0.9;
}

.card {
    border-radius: .35rem;
    background-image: url('IdeaProjects/AdLister-Kole-Morgan-testing-repo/src/main/webapp/img/bark.jpg');
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.foot {
    margin-top: 50px;
    opacity: 0.7;
}

.container {
    border-radius: 3%;
    opacity: 0.9;
}

.list-group {
    border-radius: 20%;
}

.list-group-item {
    background-image: url('IdeaProjects/AdLister-Kole-Morgan-testing-repo/src/main/webapp/img/wood.jpg');
    font-weight: bold;
    color: white;
}

.farm-fresh {
    background-image: url('IdeaProjects/AdLister-Kole-Morgan-testing-repo/src/main/webapp/img/bark.jpg');
    font-weight: bold;
}

.categories {
    background-image: url('IdeaProjects/AdLister-Kole-Morgan-testing-repo/src/main/webapp/img/bark.jpg');
}

.btn-text {
    color: red;
}

.img {
    /*display: block;*/
    width: 900px;
    height: 350px;
}
/*.card {*/
/*...*/
/*transition: 0.5s ease;*/
/*    cursor: pointer;*/
/*    margin:30px;*/
/*}*/